:root {
  --Primary-Brand: #4d5ae5;
  --Pressed-state: #404bbf;
  --Dark: #2e2f42;
  --Success: #31d0aa;
  --Text: #434455;
  --Subtle-Text: #8e8f99;
  --Accent: #e7e9fc;
  --Light: #f4f4fd;
  --Modal-overlay: rgba(46, 47, 66, 0.4);
  --Hero-background: rgba(46, 47, 66, 0.7);
  --B-g-color: #ffffff;
  --Nav-color: rgba(231, 233, 252, 1);
  --Nav-color-secondary: rgba(255, 255, 255, 1);
}

body {
  color: var(--Text);
  background-color: var(--B-g-color);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

.link {
  display: block;
}
/*
ul {
  list-style: none;
}*/

.list {
  list-style: none;
}
/*
a {
  text-decoration: none;
}
*/
/* Site nav*/

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  align-items: center;
  height: 72px;
  left: 0px;
  top: 0px;
  border-bottom: 1px solid --Accent;
}

.page-header {
  border-bottom: 1px solid var(--Accent);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.site-logo {
}

.nav-container {
  display: flex;
}
.site-nav a {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--Dark);
  display: flex;
}
.nav-list {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-left: 76px;
}

.site-nav.list {
  display: flex;
  gap: 40px;
}

.site-logo .logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer .accent {
  color: var(--Light);
}
.logo {
  color: var(--Primary-Brand);
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo-name {
  color: var(--Dark);
}
.site-nav a {
  color: var(--Dark);
  text-decoration: none;
}

.site-nav :hover,
.site-nav :focus {
  color: var(--Pressed-state);
}
.site-nav :active {
  color: var(--Pressed-state);
}
.site-nav .link-current {
  color: var(--Primary-Brand);
}

.link-studio {
  color: var(--Dark);
  padding: 24px 0 24px;
}

.link-current-box {
  display: flex;
}
.link-current-box::after {
  content: '';
  width: 48px;
  height: 4px;
  position: absolute;
  top: 68px;
  border-radius: 2px;
  background-color: var(--Pressed-state);
}

.link-portfolio-box::after {
  content: '';
  width: 66px;
  height: 4px;
  position: absolute;
  top: 68px;
  border-radius: 2px;
  background-color: var(--Pressed-state);
}

.link-studio:hover,
.link-studio:focus {
  color: var(--Pressed-state);
}
.link {
  text-decoration: none;
}

.accent {
  color: var(--Dark);
}
/* Site address */

.auth-nav {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  list-style: none;
  display: flex;
  margin-left: auto;
}

.contact-item {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--Text);
  display: block;
}

.mail-link {
  padding-top: 24px;
  padding-bottom: 24px;
}

.tel-link {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-left: 40px;
}

.auth-nav a {
  color: inherit;
  text-decoration: none;
}

.auth-nav a:hover,
.auth-nav a:focus {
  color: var(--Pressed-state);
}
.auth-nav a:active {
  color: var(--Pressed-state);
}

/* Site hero*/
.hero-title {
  color: var(--B-g-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  min-width: 496px;
  width: 496px;
  height: 120px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
}

.hero-link {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: inline-block;
  padding: 16px 32px;
  margin-top: 48px;
  transition-duration: 250ms;
}

.hero {
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--Dark);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office1.jpg);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.hero-container {
  padding-top: 188px;
  padding-bottom: 188px;
}

/* S
ite section
Our advantages*/

.container-advantages-benefits {
  display: flex;
  padding: 0 auto;
  width: 1158px;
}

.advantages-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  background-color: var(--Light);
  border-radius: 4px;
}
.advantages-icon {
}

.our-advantages-list.list.list {
  display: flex;
  gap: 24px;
  flex-basis: calc(100% / 4);
}

.text-item-advantages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 264px;
}
.section-advantages {
  background-color: var(--B-g-color);
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-features {
  color: var(--Dark);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.section-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  line-height: 1.07;
}

.

/* Site sectin What are we doing*/

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--Dark);
}

.doing-title {
  color: var(--Dark);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.doing-container {
  width: 1158px;
  padding-bottom: 120px;
}
.doing-section {
}
.doing-list {
  display: flex;
  gap: 24px;
  flex-basis: calc(100% / 3);
}
/* Site sectin Our Team
*/

.team-container {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--Light);
}
.section-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--Dark);
  margin-bottom: 8px;
}

.team-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  flex-basis: calc(100% / 4);
}

.team-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
  background-color: var(--B-g-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.team-item {
  padding-top: 72 px;
}

.team-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-text {
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-social-item {
  width: 40px;
  height: 40px;
}
.team-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--Primary-Brand);
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--Pressed-state);
}
.team-soc-icon {
  fill: var(--Accent);
}

/*   Customers  */

.customers-container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-list {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  width: 1128px;
  border-radius: 4px;
  border-color: var(--Subtle-Text);
  margin-top: 72px;
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
}

.customers-item {
  width: 168px;
  height: 88px;
  border-radius: 4px;
  border-color: solid var(--Subtle-Text);
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
  color: #8e8f99;
}
.customers-link {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid var(--Subtle-Text);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
  padding: 16px 32px;
  color: #8e8f99;
  transition-property: background-color, color, fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
   background-color: var(--B-g-color);
  fill: var(--Pressed-state);
  color: var(--Pressed-state);
  border: 1px solid var(--Pressed-state);
}
.customers-icon {
  fill: currentColor;
}

/* Footer*/

.footer {
  background-color: var(--Dark);
  padding: 100px;
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--Accent);
  margin-top: 16px;
  width: 264px;
}

.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--Primary-Brand);
  text-decoration: none;
}

.footer-container {
  display: flex;
}

.footer-soc-media {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-left: 120px;
}
.footer-soc-title {
  display: inline-block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 16px;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}
.foter-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--Text);
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.foter-soc-link:hover,
.foter-soc-link:focus {
  background-color: var(--Success);
}

.footer-soc-icon {
  fill: var(--B-g-color);
}

/* Portflio.html */

.advantages-link {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  display: flex;
  flex-grow: 1;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
/* Site Advantages */

.benefits-advantages-container {
  padding-top: 96px;
  padding-bottom: 66px;
}

.benefits-description {
  padding: 32px 0 32px 16px;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
}
.advantages-container {
  display: flex;
  justify-content: center;
  margin-bottom: 66px;
}

.benefits-container {
}

.benefits-top-wrap {
  position: relative;
  overflow: hidden;
}
.advantages-list {
}
.benefits-cover-box {
  position: absolute;
  background: #4d5ae5;
  height: 100%;
  transition: transform 250ms linear;
}
.benefits-cover-text {
  padding: 40px 32px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--Light);
}

.advantages-list:hover .benefits-cover-box {
  transform: translatey(-100%);
}
.advantages-list:focus .benefits-cover-box {
  transform: translatey(-100%);
}

.advantages-list-btn {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.advantages-link {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  max-width: 116px;
  max-height: 48px;
  background: var(--Light);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  flex: none;
  flex-grow: 1;
}

.advantages-list-benefits {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
  row-gap: 48px;
}

.advantages-list {
  text-decoration: none;
  display: block;
}

.advantages-list:hover,
.advantages-list:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--Dark);
}

.advantages-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--Text);
  margin-top: 8px;
}
/* Button */

/*.button {
  color: var(--Primary-Brand);
  background-color: var(--Accent);
 }
 */

.button.primary {
  color: var(--Primary-Brand);
  background-color: var(--Light);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  flex: none;
  flex-grow: 0;
  max-width: 116px;
  font-family: inherit;
  font-size: 16px;
  transition-property: color, background-color, box-shadow, border, outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary:hover,
.button.primary:focus {
  color: var(--B-g-color);
  background-color: var(--Primary-Brand);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid var(--Primary-Brand);
  outline: var(--Primary-Brand);
}
.button.primary:active {
  color: var(--B-g-color);
  background-color: var(--Pressed-state);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid var(--Primary-Brand);
  outline: var(--Primary-Brand);
}

.button.secondary {
  color: var(--B-g-color);
  background-color: var(--Primary-Brand);
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button.secondary:hover,
.button.secondary:focus {
  color: var(--B-g-color);
  background-color: var(--Pressed-state);
}

/* -----Modal--------*/

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms linear, visibility 250ms linear, transform 250ms linear;
}
.modal {
  background-color: #fcfcfc;
  position: absolute;
  transform: translate(-50%, -50%) scaleY(1);
  width: 408px;
  min-height: 576px;
  left: 50%;
  top: 50%;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 24px;
  transition: transform 250ms linear;
}
.backdrop.is-hidden .modal  {
  transform: translate(-50%, 50%) scaleY(2);
}


.button-close {
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  margin-left: auto;
  border-radius: 50%;
  padding: 0px 6px 2px 6px;
  transition: transform 250ms linear ;
  margin-bottom: 24px;
}

.modal-close {
  width: 8px;
  height: 8px;
  fill: var(--Text);
  display: inline-flex;
  justify-content: center;
  align-content: center;
;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  
}

.no-scroll {
  overflow: hidden;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--Dark);
  margin-bottom: 34px;
}

.modal-form {

}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid #4D5AE5;
  border-radius: 4px;
  margin-bottom: 24px;
  padding-left: 16px;
  
}

. {
  
}